[PS]
 Logarithmic= True
 Interval_n= 12
 Resolution = 100
 Range = [1e3,1e6]
 Hanning = False
[Module NSTX_GPI]
 Datapath = '/p/nstxcam'
 Server='portal.pppl.gov'
 User='mlampert'
 Local datapath = '/Users/mlampert/data'
 Working directory = '/Users/mlampert/work/NSTX_workspace'
 Scaling = ''
 Calibration = False
 Start delay = 0
 End delay = 0
[Module NSTX_MDSPlus]
 Server = 'skylark.pppl.gov'
 Virtual name file = 'self'
 Cache data = True
 Cache directory = '/Users/mlampert/data'
 Verbose = True
[EFIT]
 MW = 'EFIT01::\MW'
 MH = 'EFIT01::\MH'
 XDIM = 'EFIT01::\Xdim'
 ZDIM = 'EFIT01::\Zdim'
 RZERO = 'EFIT01::\R0'
 RMAXIS = 'EFIT01::\RmAxis'
 ZMAXIS = 'EFIT01::\ZmAxis'
 SSIMAG = 'EFIT01::\Ssimag'
 SSIBRY = 'EFIT01::\Ssibry'
 BCENTR = 'EFIT01::\Bt0'
 CPASMA = 'EFIT01::\Cpasma'
 FPOL = 'EFIT01::\Fpol'
 PRES = 'EFIT01::\Pres'
 FFPRIM = 'EFIT01::\FFprim'
 PPRIME = 'EFIT01::\Pprime'
 PSIRZ = 'EFIT01::\psiRZ'
 QPSI = 'EFIT01::\qpsi'
 NBDRY = 'EFIT01::\NBDRY'
 RBDRY = 'EFIT01::\RBDRY'
 ZBDRY = 'EFIT01::\ZBDRY'
 LIMITR = 'EFIT01::\limitr'
 RLIM = 'EFIT01::\Rlim'
 ZLIM = 'EFIT01::\zlim'
 RCOORD = 'EFIT01::\R'
 ZCOORD = 'EFIT01::\Z'
[Virtual names]
 IP(141398-) = WF::\IP
 PSIRZ(138614-) = EFIT01::\psiRZ
 DALPHA(138614-) = WF::\DALPHA
 DALPHA_FAST(138614-) = 'ACTIVESP_RAW::\TOP.FIDAFAST.RAWDATA:INPUT_01'
# Correlation reflectometry Op 1.2a
#CR-B(20170901000-20180701000) = complex(\QMC::TOP.HARDWARE:ACQ132_168:CHANNELS:INPUT_18,\QMC::TOP.HARDWARE:ACQ132_168:CHANNELS:INPUT_17)